name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: TheChaseBusia
          environment-file: environment.yml
          auto-activate-base: false

      - name: Run tests
        shell: bash -l {0}
        run: |
          pytest tests/